footer {
	padding: 14px 23px 39px 23px;
	a:hover {
		text-decoration: none;
	}
	
}
.footer_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 32px;
}
.footer_wrapper > div {
	width: 33%;
}

.footer_wrapper > div:nth-child(3) {
	display: flex;
	justify-content: flex-end;
}
.footer_divider {
	width: 299px;
	height: 4px;
	background-color:  $second-color;
	margin: 0 auto;
}
.footer_links {
	width: 390px;
	margin: 0 auto;
	&_main {
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		a {
			color: #070716;
			font-size: 15px;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
	&_sub {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		a {
			color: #999999;
			font-size: 11px;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
	&_lang {
		display: block;
		margin: 0 auto;
		color:  $second-color;
		font-size: 11px;
		font-weight: 400;
		margin-top: 19px;
		text-transform: uppercase;
		text-align: center;
	}
}
.footer_mobile{
	img{
		width: 90px;
	}
}
.xs-visible {
	display: none;
}
