h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
	padding: 0;
}

.container {
	@include container();
	@include sm(max-width, rem(510));
	@include md(max-width, rem(690));
	@include lg(max-width, rem(930));
	@include xl(max-width, rem(1110));
}

.label {
	position: relative;
	margin: 0 auto;
	height: 24px;
	width: 112px;
	padding: 5px 12px;
	background-color: $second-color;
	color: #ffffff;
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	z-index: 2;
	&__white {
		background-color: #fff;
		color: #000;
	}

	&__min {
		width: 76px;
	}
}
.title {
	position: relative;
	margin-bottom: 0;
	margin-top: 38px;
	color: #222222;
	font-size: 38px;
	line-height: 38px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	z-index: 2;
	&__white {
		color: #fff;
	}
}
.subtitle {
	position: relative;
	margin-top: 19px;
	color: #222222;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	z-index: 2;
	&__white {
		color: #fff;
	}
}
