@media (max-width: 1200px){
	.menu{
		&__item {
			padding-right: 20px;
		}
		&__link {
			font-size: 13px;
		}
	}
	.promo {
		&__header {
			font-size: 50px;
		}
	}
	.reasons {
		&__block {
			align-items: flex-start;
		}
		&__descr {
			width: 300px;
		}
	}
	.mobile {
		&_item {
			width: 290px;
			&__subtitle {
				font-size: 22px;
			}
		}
	}
	.choice {
		padding: 55px 0;
		min-height: 840px;
	}
	.require {
		br {
			display: none;
		}
	}
	.footer {
		&_wrapper > div {
			width: 50%;
			&:nth-child(1){
				width: 25%;
			}
			&:nth-child(3){
				width: 25%;
				display: flex;
				justify-content: flex-end;
			}
		}
		&_mobile {
			display: flex;
			a {
				margin: 0 3px;
				img {
					width: 100%;
				}
			}
		}
	}
}
@media (max-width: 991px){
	.title {
		font-size: 28px;
	}
	.menu{
		&__item {
			padding-right: 8px;
		}
		&__link {
			font-size: 10px;
		}
	}
	.subheader {
		&__logo {
			img {
				width: 70%;
			}
		}
		&__phone {
			font-size: 18px;
		}
		&__btn {
			margin-top: 21px;
			height: 40px;	
			width: 100%;
		}
	}
	.promo {
		&__header {
			font-size: 40px;
		}
		&_subheader {
			font-size: 30px;
		}
	}
	.reasons {
		&__block {
			flex-direction: column;
			align-items: center;
		}
		&_round {
			margin-right: 0;
		}
		&__descr {
			width: 300px;
			margin-top: 20px;
		}
	}
	.mobile {
		&_item {
			width: 290px;
			&__subtitle {
				font-size: 22px;
			}
		}
	}
	.choice {
		padding: 55px 0;
		min-height: 800px;
		&__img {
			width: 600px;
		}
	}
	.world {
		min-height: 650px;
	}
	.footer {
		&_wrapper {
			flex-wrap: wrap;
		}
		&_wrapper > div {
			width: 100%;
			display: flex; 
			justify-content: center;
			margin-bottom: 20px;
			&:nth-child(1){
				width: 100%;
			}
			&:nth-child(3){
				width: 100%;
				justify-content: center;
			}
		}
		&_mobile {
			display: flex;
			a {
				margin: 0 3px;
				img {
					width: 90px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.title {
		margin-top: 25px;
	}
	.menu{
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100vh;
		padding: 20px 15px;
		background-color: rgba(0,0,0, .8);
		transition: 0.6s all;
		&_active {
			left: 0;
		}
		&__item {
			padding-right: 0;
			border: none;
			margin: 10px 0;
		}
		&__link {
			font-size: 20px;
		}
	}
	.hamburger{
		display: block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 26px;
		height: 12px;
		span {
			display: block ;
			height: 2px;
			width: 100%;
			background-color: #fff; 
			margin-bottom: 2px;
			transition: 0.5s all;
		}
		&_active {
			span {
				margin-bottom: -2px ;
				&:nth-child(1){
					transform: translateY(3px) rotate(-45deg);
				}
				&:nth-child(2){
					display: none;
				}
				&:nth-child(3){
					transform: translateY(3px) rotate(45deg);
				}
			}
		}
	}
	.xs-hidden{
		display: none;
	}
	.xs-visible {
		display: block;
	}
	.subheader {
		&__phone {
			display: block ;
			margin-top: 10px;
			color: #ffffff;
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
		}
		&__btn {
			display: block;
			width: 200px;
			height: 40px;
			margin: 0 auto;
			margin-top: 10px;
		}
	}
	.promo {
		&__header {
			line-height: 45px;
		}
	}
	.reasons {
		padding: 40px 0;
		&__descr {
			width: 550px;
		}
		&__subtitle{
			text-align: center;
		} 
		&__text {
			margin-top: 10px;
		}
	}
	.mobile {
		padding: 40px 0;
	}
	.choice {
		padding: 40px 0;
		min-height: 600px;
		&__img {
			width: 500px;
		}
	}
	.require {
		padding: 40px 0;
	}
	.world {
		min-height: 450px;
	}
}
@media (max-width: 575px) {
	nav {
		height: 30px;
	}
	header {
		height: 30px;
	}
	.title {
		font-size: 16px;
		margin-top: 15px;
		line-height: 16px;
	}
	.menu{
		width: 85%;
		&__item {
			width: 100%;
			text-align: center;
			padding: 5px 0;
		}
		&__link {
			display: block;
		}
	}
	.hamburger{
		&_active {
			span {
				&:nth-child(1){
					transform: translateY(5px) rotate(-45deg);
				}
				&:nth-child(3){
					transform: translateY(5px) rotate(45deg);
				}
			}
		}
	}
	.subtitle {
		display: none;
	}
	.subheader {
		height: 90px;
		top: 30px;
		&__phone {
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
			margin-top: 11px;
		}
	}
	.promo {
		min-height: 400px;
		padding: 93px 0 35px 0;
		&__header {
			font-size: 30px;
			padding-top: 50px;
			line-height: 35px;
		}
		&__descr {
			display: none;
		}
		&__subheader{
			font-size: 20px;
			margin-top: 33px;
			padding: 0 10px;
			line-height: 30px;
		}
		
	}
	.reasons {
		padding: 22px 0 36px 0;
		&_block {
			margin-top: 26px;
		}
		&_round {
			width: 100px;
			height: 100px;
		}
		&__descr {
			width: 100%;
			margin-top: 27px;
		}
		&__subtitle{
			font-size: 16px;
			text-align: left;
		} 
		&__text {
			margin-top: 0px;
		}
	}
	.mobile {
		padding: 20px 0 40px 0;
		.row {
			margin-top: 30px;
		}
		&_item {
			height: 254px;
			padding: 81px 40px 0 40px;
			&__subtitle {
				font-size: 18px;
				line-height: 31px;
			}
			&__plus {
				bottom: 28px;
				&:hover {
					&:before, &:after {
						background-color: $main-color;
					}
				}
			}
		}
	}
	.choice {
		padding: 25px 0 33px 0;
		min-height: 390px;
		background: #000;
		&__img {
			margin-top: 35px;
			width: 60%;
		}
		&__descr {
			margin-top: 23px;
			color: #ffffff;
			font-size: 17px;
			font-weight: 300;
			line-height: 24px;
		}
		.black {
			display: none ;
		}
	}
	.hidden-320 {
		display: none;
	}
	.require{
		padding: 25px;
		&__block {
			margin: 30px 0 0 0;
		}
		&__title {
			font-size: 16px;
		}
		&__list{
			padding-left: 30px;
			margin-top: 5px;
			li {
				font-size: 14px;
				margin-bottom: 5px;
				line-height: 20px;
			}
		}
		&__descr {
			font-size: 14px;
			margin-top: 15px;
		}
	}
	.world {
		min-height: 360px;
		padding: 25px 0 30px 0;
		&__link {
			width: 200px;
			display: block;
			bottom: 30px;
			line-height: 15px;
		}
	}
	footer {
		padding: 25px 0 20px 0;
	}
	.footer {
		&_divider{
			width: 253px;
			margin: 0 auto;
		}
		&_wrapper{
			padding-top: 22px;
		}
		&_wrapper > div {
			margin-bottom: 20px;
			&:nth-child(1){
				order: 2;
			}
			&:nth-child(2){
				order: 1;
			}
			&:nth-child(3){
				order: 3;
			}
		}
		&_links {
			width: 290px;
			&_main {
				padding: 0;
				font-size: 14px;
			}
			&_sub {
				flex-wrap: wrap;
				justify-content: center;
				a {
					margin: 0 7px;
				}
			}
			&_lang {
				margin-top: 10px;
			}
		}
	}
}